//==========================================================
//                      Variables
//==========================================================

//Fonts
$roboto: 'Roboto', sans-serif;

//Main palette
$header-bg: #333333;
$content-bg: #fff;
$footer-bg: #333333;

$body-bg: $footer-bg;
$body-fnt: 400 14px/26px $roboto;

$default: #989ba5;
$primary: #4bae4f;
$secondary: #f7f7f7;
$secondary2: #333333;